/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden; /* Prevents scrolling at the body level */
}

/* styles.css - Updated styles for the sidebar */
#sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Aligns elements to the start of the container */
    flex-shrink: 0;
}

.model-item-group {
    padding-bottom: 15px;
}

#sidebar label {
    display: block; /* Ensures the label is displayed on its own line */
    margin-bottom: 8px; /* Space between the label and the input/select */
}

#model-form {
    display: flex;
    flex-direction: column;
}

#model-select,
#max-tokens {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px; 
}

#model-select:focus,
#max-tokens:focus {
    outline: none;
    border-color: #007bff;
}

/* Style for the main content area */
#content {
    flex-grow: 1; /* Takes up the remaining space */
    overflow-y: auto; /* Shows scroll bar when content is too tall */
    width: calc(100% - 250px); /* Adjusts width to subtract the width of the sidebar */
}

#chat-history, #chat-controls {
    width: 900px; /* Fixed width */
    margin: 0 auto; /* Automatically centered on the horizontal axis */
}

/* Style for the chat history */
#chat-history {
    max-height: 100%; /* Adjusts the maximum height */
    overflow-y: auto; /* Allows scrolling if there are many messages */
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 24px; /* Space before the user input area */
    margin-top: 24px; /* Space at the top to keep it centered */
}

.message {
    padding: 10px 0px;
}

.message-header {
    display: flex; /* Uses flexbox for easy alignment */
    justify-content: flex-start; /* Default alignment to the left */
}

.message-header.user .author-name {
    justify-content: flex-end; /* Aligns user messages to the right */
}

.message-author {
    font-weight: bold; /* Bold text for the author */
}

.message-body {
    padding-left: 34px;
}

.message-header-icon-bot,
.message-header-icon-user {
    width: 24px; /* Size of the circle */
    height: 24px; /* Size of the circle */
    border-radius: 50%; /* Makes the circle perfect */
    display: inline-block; /* Allows the element to have dimensions */
    margin-right: 10px; /* Space between the icon and the text */
}

.message-header-icon-bot {
    background-color: #007bff; /* Blue color for the bot */
}

.message-header-icon-user {
    background-color: #28a745; /* Green color for the user */
}

/* Style for the fixed input bar at the bottom */
#chat-controls {
    width: 900px;
    position: fixed;
    left: calc(50% + 125px); /* Horizontally centered */
    transform: translateX(-50%); /* Adjustment to center exactly */
    bottom: 0; /* Aligned to the bottom edge of the window */
    background: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
/* Style for the user input area and the send button */
#user-input {
    flex-grow: 1;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-right: 10px;
    padding: 16px 16px 0 16px;
    font-size: 10pt;
    box-sizing: border-box;
    max-height: 200px;
    min-height: 48px;
    overflow-y: hidden;
}

#user-input:focus {
    outline: none;
    border: 1px solid #aaa;
}

#send-message {
    background-color: #2b2b2c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 8px 16px;
    cursor: pointer;
    height: 48px;
    width: 48px;
    transition: background-color 0.3s;
    font-size: 18pt;
    font-weight: bolder;
}

#send-message:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#send-message:not(:disabled):hover {
    background-color: #111;
}

.code-fragment-header {
    background-color: #484c54;
    height: 32px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    display: flex; /* Uses Flexbox to align elements */
    justify-content: space-between; /* Maximally separates elements on both sides */
    align-items: center; /* Aligns elements vertically in the center */
    padding: 0 10px; /* Adds a bit of space on the sides */
}

.code-fragment-header-language {
    margin-right: auto; /* Pushes everything else to the right */
    font-size: 9pt;
    padding: 5px;
}

/* Style for the copy button */
.code-fragment-header button {
    background: none;
    border: none; 
    color: inherit;
    cursor: pointer;
}

.code-fragment {
    background-color: #282c34;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 30px;
}

.code-fragment .hljs {
    background-color: transparent;
}

.text-fragment {
    padding-bottom: 10px;
}

